[submodule "services/chatbot-client"]
	path = services/chatbot-client
	url = git@github.com:Polumm/chatbot-client.git
[submodule "services/chatbot-service"]
	path = services/chatbot-service
	url = git@github.com:Polumm/chatbot-service.git
[submodule "services/chatbot-database"]
	path = services/chatbot-database
	url = git@github.com:Polumm/chatbot-database.git
